

/* This the css file */
/* .navbar{
  height: 56px;
} */
body{
  margin-top: 4rem;
}
img.logopic {
  height: 45px;
}
.jumbotron {
    text-align: center;
    background-image: url("Others/banner.jpg");
    background-size: cover;
    /* background-repeat: repeat; */
}
.jumbotron h1{
  color: #22074e;
  font-size: 67px;
}
.jumbo_text{
    color: #b30000;
    font-size: 33px;
    font-weight: 500;
}
.signInSec{
  margin-left: 8rem;
}
.news_text{
  font-size: 69px;
  padding-bottom: .5rem;
}
.aboutimgwrapper {
  height: 220px;
  width: 370px;
}
.aboutimg{
  height: 100%;
  width: 100%;
}

.charwrapper{
  display: flex;
  flex-wrap: wrap;
  margin-top: 55px;
}

div#carouselExampleCaptions {
  width: 34%;
}
.carouseltext {
  width: 65%;
}
/* h5#exampleModal1Label {
  margin-left: 475px; */
/* } */
.forbtn {
  text-align: center;
}
.mapwrapper{
  display: flex;
  flex-wrap: wrap;
  margin-top: 55px;
}
/* js style */
img.bg-img {
  height: 100%;
  width: 100%;
}
p.card-text-one {
  color: transparent;
  position: absolute;
  height: 100%;
  /* padding: 65px 1px; */
  /* font-size: 13px; */
}

div#carouselExampleCaptions-one {
  width: 33%;
}

@media only screen and (max-width:991px) {

  div#carouselExampleCaptions {
    width: 100%;
  }
  div#carouselExampleCaptions-one{
    width: 99%;
  }
  .carouseltext {
    width: 97%;
  }
  p.card-text-one{
    padding: 0;
    font-size: smaller;
  }
}
@media only screen and (max-width:445px) {
  p.card-text-one{
    font-size: 7px
  }
}

  


.foot {
    height: 120px;
    /* width: 100%; */
    background: black;
    margin-top: 10px;
  }
  p.ftxt {
    color: bisque;
    text-align: center;
    padding-top: 11px;
  }
  p.ftxt:hover{
    cursor: pointer;
  }
/* img.flogo {
    height: 68px;
    margin-left: 653px;
  } */