

/* This the css file */

.jumbotron {
    text-align: center;
    background-image: url(banner.jpg);
    background-size: cover;
    /* background-repeat: repeat; */
}
.jumbotron h1{
  color: #22074e;
  font-size: 67px;
}
.jumbo_text{
    color: #b30000;
    font-size: 33px;
    font-weight: 500;
}
.signInSec{
  margin-left: 8rem;
}
.news_text{
  font-size: 69px;
  padding-bottom: .5rem;
}
.aboutimgwrapper {
  height: 220px;
  width: 370px;
}
.aboutimg{
  height: 100%;
  width: 100%;
}

.charwrapper{
  display: flex;
  flex-wrap: wrap;
  margin-top: 55px;
}

div#carouselExampleCaptions {
  width: 34%;
}
.chartxt {
  width: 65%;
  padding-top: 3%;
}
.forbtn {
  text-align: center;
}

@media only screen and (max-width:991px) {

  div#carouselExampleCaptions {
    width: 100%;
  }
  .chartxt {
    width: 97%;
  }
}

.foot {
    height: 120px;
    /* width: 100%; */
    background: black;
    margin: 10px;
  }
  p.ftxt {
    color: bisque;
    text-align: center;
    padding-top: 11px;
  }
  p.ftxt:hover{
    cursor: pointer;
  }
/* img.flogo {
    height: 68px;
    margin-left: 653px;
  } */