@import url('https://fonts.googleapis.com/css2?family=Ceviche+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ceviche+One&family=Irish+Grover&display=swap');

body{
    background-image: url("../Others/create.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.fromwrapper {
padding: 28px;
background: url("../Others/backgrounds.jpg");
background-size: cover;
background-repeat: no-repeat;
transform: translate(83%, 8%);
border: none;
border-radius: 16px;
text-align: center;
width: 38%;
height: auto;
}
h1.text.text-center {
margin-top: 10px;
font-family: "Ceviche One",sans-serif;
color:#f6c831;
font-size: 60px;
}

label.form-check-label {
    color: aliceblue;
}
a{
    color: cornsilk;
}
h2{
margin:25px;
font-family:"Irish Grover",sans-serif ;
color:white;
}

.socialbtn{
    padding-bottom:10px;
    margin-top: 50px;
}
input#box {
height: 51px;
border-radius: 10px;
}
#google{
    margin-left: 3rem;
    margin-right: 3rem;
}

@media only screen and (max-width:991px) {
    #google{
        margin-left: 0px;
        margin-right: 0px;
    }

}
@media only screen and (max-width:991px) {

body{
    background-size:auto;
}
}