@import url('https://fonts.googleapis.com/css2?family=Ceviche+One&display=swap');

*{
    font-family: cursive;
}

.dropdown-menu.show {
    border: none;
  }
  #navbar{
    background: #77c015;
  }
  
  img.logopic {
      height: 45px;
  }

 body{
    background-image: url("../Others/create.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    }
    .fromwrapper {
        padding: 28px;
        background: url("../Others/backgrounds.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        transform: translate(100%, 8%);
        border: none;
        border-radius: 16px;
        text-align: center;
        width: 33%;
        height: auto;
        }
    h1.text.text-center {
        margin-top: 75px;
        font-family: "Ceviche One",sans-serif;
        color:#f6c831;
        font-size: 60px;
    }
    label{
        color:#1a8bff;
    }
    a{
        color: cornsilk;
    }
    .socialbtn{
        padding-bottom:10px;
        margin-top: 50px;
    }
    #google{
        margin-left: 3rem;
        margin-right: 3rem;
    }

    @media only screen and (max-width:991px) {
        #google{
            margin-left: 0px;
            margin-right: 0px;
        }

    }
    @media only screen and (max-width:1650px) {

        body{
            background-size:auto;
        }
       
            
    }

