
/* .navbar{
  height: 56px;
} */

img.logopic {
  height: 45px;
}
.container{
    margin-top: 59px;
  }
  .signInSec {
    margin-left: 8rem;
  }
  .forbtn {
    text-align: center;
  }
  /* .dropdown {
  float: right;
  } */
  img.bg-img {
    height: 100%;
    width: 100%;
  }
  p.card-text {
    color: transparent;
    position: absolute;
    height: 100%;
    padding: 114px 1px;
    font-size: 13px;
  }
  .card-body {
    padding: 0;
  }
  .card {
    max-width: 34rem;
  }
  .gun {
    display: flex;
    flex-wrap: wrap;
  } 
    .foot {
    height: 120px;
    /* width: 100%; */
    background: black;
    margin-top: 10px;
  }
  p.ftxt {
    color: bisque;
    text-align: center;
    padding-top: 11px;
  }
  p.ftxt:hover{
    cursor: pointer;
  }
  /* @media only screen and (max-width:991px) {
  .gun
  {
    transform: translate(10%, 0%);
  }
} */
 @media only screen and (max-width:500px) {
   p.card-text{
     padding: 34px 1px;
   }
 }
